# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Datasets
backend/datasets/raw/*
backend/datasets/processed/*
backend/datasets/raw_test/*
backend/datasets/*.csv

!backend/datasets/.gitkeep
!backend/datasets/raw/.gitkeep
!backend/datasets/processed/.gitkeep
!backend/datasets/raw_test/.gitkeep

# Models / checkpoints
backend/models/*
backend/checkpoints/*

!backend/models/.gitkeep
!backend/models/dwpose/
!backend/models/dwpose/.gitkeep
!backend/models/schp/
!backend/models/schp/.gitkeep

# Outputs / logs
backend/outputs/*
backend/logs/*
*.log

!backend/outputs/.gitkeep
!backend/logs/.gitkeep
